@charset "UTF-8";

/*公共类*/

body {
	font-family: Microsoft YaHei, Verdana, sans-serif, '宋体' !important;
}
p {
	word-wrap: break-word;
}
input {
	outline: none;
}
input:focus, textarea:focus {
	transition: box-shadow .3s;
	border-color: #00a388 !important;
	box-shadow: 0 0 5px #00a388 !important;
}
.transition_btn {
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
}
.main_container {
	overflow: hidden;
	width: 100%;
	min-width: 1200px;
}
.cm_min_width {
	min-width: 1200px;
}
.cm_fl {
	float: left;
}
.cm_fr {
	float: right;
}
.cm_cp {
	cursor: pointer;
}
.clear, .clearfloat {
	clear: both;
}
.hidden {
	display: none;
}
.cm_header_shadow {
	position: absolute;
	z-index: 1;
	top: 140px;
	left: 0;
	width: 100%;
	height: 5px;
	background: url('../img/header_shadow_bg.png') repeat-x;
}

.common_btn {
    padding: 5px 10px;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: -ms-linear-gradient(top, #fff, #eee);
}

.common_btn:hover{
    color: #00a388;
}

label.error, div.error {
    font-size: 12px !important;
    margin-bottom: 9px;
    color: red;
}

/*common head*/

.yc_cm_header {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	margin: 0 auto;
	background-color: #fff;
}
.yc_cm_header .shortcut_container {
	font-size: 12px;
	line-height: 40px;
	position: relative;
	box-sizing: border-box;
	width: 100%;
	height: 40px;
	margin: 0;
	color: #ccc;
	background-color: #333;
}
.yc_cm_header .shortcut_container .shortcut {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}
.yc_cm_header .shortcut a {
	font-size: 12px;
	position: relative;
	padding: 0 10px;
	color: #ccc;
}
.yc_cm_header .shortcut a:hover {
	color: #f40;
}
.yc_cm_header .shortcut .quick_menu {
	position: absolute;
	top: 0;
	left: 15px;
	height: 40px;
}
.yc_cm_header .shortcut .quick_menu li {
	position: relative;
	float: left;
}
.yc_cm_header .shortcut .quick_menu li a i {
	font-size: 16px;
	font-style: normal;
	margin-right: -4px;
	color: #999;
	float: left;
}
.yc_cm_header .shortcut .quick_menu li a:hover i {
	color: #f40;
}
.yc_cm_header .shortcut .login_info {
	position: absolute;
	right: 32px;
}
.yc_cm_header .shortcut .login_info .welcome_info {
	position: relative;
}
.yc_cm_header .shortcut .login_info .welcome_info:first-child::after, .yc_cm_header .shortcut .quick_menu li:first-child a:before {
	position: absolute;
	top: 3px;
	right: 0;
	width: 1px;
	height: 12px;
	content: ' ';
	background-color: #666;
}
.yc_cm_header .main_nav {
	position: relative;
	width: 100%;
}
.yc_cm_header .main_nav .header_con {
	position: relative;
	box-sizing: border-box;
	width: 1200px;
	height: 100px;
	margin: 0 auto;
	padding: 0;
}
.main_nav .header_con .logo {
	position: absolute;
	top: 21px;
	left: 15px;
}
.main_nav .header_con .hot_line {
	position: absolute;
	top: 33px;
	right: 15px;
}
.yc_cm_header .main_nav .navigation {
	position: relative;
	top: 55px;
	left: 0;
	text-align: center;
}
.yc_cm_header .main_nav .navigation ul li {
	display: inline-block;
	margin-right: 65px;
}
.yc_cm_header .main_nav .navigation ul li:last-child {
	margin-right: 0;
}
.yc_cm_header .main_nav .navigation ul li a {
	font-size: 20px;
	display: block;
	padding: 0 5px;
	color: #333;
}
.yc_cm_header .main_nav .navigation ul li a:hover, .yc_cm_header .main_nav .navigation ul li a.active {
	color: #f40;
}
.footer {
	position: relative;
	width: 100%;
	padding: 0 10px;
	background: #333;
	overflow: hidden;
	box-sizing: border-box;
}
.footer .ft_link, .footer .ft_copyright {
	font-size: 12px;
	line-height: 50px;
	overflow: hidden;
	box-sizing: border-box;
	margin: 0 auto;
	text-align: center;
	color: #666;
}
.footer .ft_link{
    float: left;
}
.footer .ft_copyright{
    float: right;
}
.footer .ft_link ul li {
	display: inline-block;
	margin: 0 10px 0 0;
}
.footer .ft_link ul li a, .footer .ft_copyright a {
	color: #999;
}
.footer .ft_link ul li a:hover, .footer .ft_copyright a:hover {
	color: #00a388;
}
.footer .ft_link ul li a:hover,
.footer .ft_copyright a:hover{
    color: #00a388;
}
@media only screen and (max-width: 1024px) {
    .footer .ft_link,
    .footer .ft_copyright{
        float: none;
        text-align: center;
    }
}

/*common ? tips*/
.ybcommon_queryicon_item {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.ybcommon_queryicon_item span {
    position: relative;
    display: block;
    margin: 0;
    color: #666;
}
.ybcommon_queryicon_item div {
    display: none;
    font-size: 12px;
    line-height: 20px;
    position: absolute;
    z-index: 3;
    top: 22px;
    left: -100px;
    min-width: 190px;
    max-width: 300px;
    padding: 5px 10px;
    text-align: left;
    color: #000;
    border: 1px solid #efefef;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 2px 2px 10px #ccc;
}
.ybcommon_queryicon_item:hover div{
    display: block;
}
.ybcommon_queryicon_item div:before,
.ybcommon_queryicon_item div:after {
    position: absolute;
    top: -8px;
    left: 101px;
    display: block;
    width: 0;
    height: 0;
    content: '';
    border-width: 0 6px 8px 6px;
    border-style: solid;
}
.ybcommon_queryicon_item div:before {
    border-color: transparent transparent #000 transparent;
}
.ybcommon_queryicon_item div:after {
    border-color: transparent transparent #fff transparent;
}
.ybcommon_queryicon_item .ybcommon_qimoredetail_btn {
    display: block;
    width: 4em;
    margin: 10px auto 0;
    padding: 0 5px;
    color: #000;
    border: 1px solid #999;
}
/*common counter*/
.ybcommon_counter_item {
    width: 85px;
    height: 25px;
    border: 1px solid #e5e5e5;
    background-color: #f0f0f0;
}
.ybcommon_counter_item a {
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    float: left;
    width: 25px;
    height: 100%;
    text-align: center;
    color: #a9a9a9;
}
.ybcommon_counter_item a:hover {
    color: #000;
}
.ybcommon_counter_item input[type=text] {
    font-size: 15px;
    float: left;
    box-sizing: content-box;
    width: 33px;
    height: 100%;
    margin-top: -1px;
    text-align: center;
    border: 1px solid #aaa;
}
/*common share*/
.common_sharelist_wrapper
{
    font-size: 13px;

    position: absolute;
    z-index: 1;

    display: none;

    box-sizing: border-box;
    width: 185px;
    min-height: 50px;
    padding: 10px 15px;

    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
}

.common_sharelist_wrapper::before {
    position: absolute;
    z-index: 1;
    top: -9px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -9px;
    content: ' ';
    border-right: 9px solid transparent;
    border-bottom: 9px solid #fff;
    border-left: 9px solid transparent;
}

.common_sharelist_wrapper::after
{
    position: absolute;
    z-index: 0;
    top: -10px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -9px;
    content: ' ';
    border-right: 9px solid transparent;
    border-bottom: 9px solid #ddd;
    border-left: 9px solid transparent;
}

.common_sharelist_wrapper ul
{
    overflow: hidden;
}

.common_sharelist_wrapper ul li
{
    float: left;
    overflow: hidden;

    width: 30px;
    height: 30px;
    margin: 0 0 0 10px;
}

.common_sharelist_wrapper ul li:first-child
{
    margin: 0;
}

.common_sharelist_wrapper ul li a
{
    display: block;
    font-size: 25px;
    line-height: 30px;
    text-align: center;

    color: #abaebe;
    background-color: transparent!important;
}

.common_sharelist_wrapper ul li a:hover
{
    box-shadow: none;
}
.common_sharelist_wrapper .weibo a:hover,
.common_sharelist_wrapper .weibo.active a
{
    color: #d8282a;
}

.common_sharelist_wrapper .qzone a:hover,
.common_sharelist_wrapper .qzone.active a
{
    color: #ffd074;
}

.common_sharelist_wrapper .wechat a:hover,
.common_sharelist_wrapper .wechat.active a
{
    color: #97e23f;
}

.common_sharelist_wrapper .renren a:hover,
.common_sharelist_wrapper .renren.active a
{
    color: #217dc6;
}

.common_sharelist_wrapper .QQ a:hover,
.common_sharelist_wrapper .QQ.active a
{
    color: #217dc6;
}

.common_serialnumber_item {
    display: inline-block;
    vertical-align: middle;
}
.common_serialnumber_item li {
    float: left;
    width: 87px;
}
.common_serialnumber_item li:first-child {
    width: 67px;
}

.common_serialnumber_item li span {
    line-height: 30px;
    display: inline-block;
    width: 1em;
    margin: 0 2px;
    text-align: center;
}

.common_serialnumber_item input {
    float: right;
    box-sizing: border-box;
    width: 5em;
    height: 30px;
    padding: 0;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 5px #ddd inset;
}
/*common pagination*/
.pagination_wrap{
    position: relative;
    clear: both;
    width: 100%;
    margin: 20px auto;
    text-align: center;
}
.turn_btn > a,
.turn_btn > span
{
    font-size: 12px;
    font-weight: bold;
    line-height: 30px;

    display: inline-block;

    height: 30px;
    margin: 0 3px;
    padding: 0 10px;

    text-align: center;

    color: #fff;
    border: 0;
    border-radius: 2px;
    background-color: #ccc;
}
.turn_btn > a
{
    border: 0;
}

.turn_btn > span
{
    cursor: default;
}

.turn_btn > span.current
{
    color: #fff;
    border: 0;
    background-color: #79bd8f;
}

.turn_btn > span.current.prev,
.turn_btn > span.current.next
{
    display: none;
}

.turn_btn > span.prev,
.turn_btn > span.next
{
    color: #fff;
    background-color: #ccc;
}

.turn_btn > a:hover
{
    color: #fff;
    background-color: #999;
}
/*common empty wrap*/
.pc_empty_item {
    overflow: hidden;
    width: 220px;
    margin: 0 auto;
    padding: 20px 0;
}
.pc_empty_item .avatar_1 {
    width: 60px;
    height: 110px;
    background: url(../img/icon/empty_avatar_1_00000.png);
    background-size: cover;
}
.pc_empty_item label {
    font-size: 14px;
    line-height: 2;
    display: block;
    width: 100%;
    text-align: center;
    color: #a8a8a8;
}
/*~~~~~~~~~~commcon_crumb_wrapper~~~~~~~~~~*/

.commcon_crumb_wrapper ul {
	padding: 10px 0;
	margin: 0 auto;
	width: 1200px;
	font-family: 'microsoft yahei';
}
.commcon_crumb_wrapper li {
	display: inline-block;
	font-size: 0;
}
.commcon_crumb_wrapper li a, .commcon_crumb_wrapper li label {
	font-size: 17px;
}
.commcon_crumb_wrapper li a:hover {
	color: #f40;
}

/*~~~~~~~~~~common_paginator_wrapper~~~~~~~~~~*/

.common_paginator_wrapper {
	margin: 30px 0;
	width: 100%;
	font-size: 0;
	text-align: center;
}

.common_paginator_wrapper ul {
	display: inline-block;
	text-align: center;
	font-size: 0;
}
.common_paginator_wrapper li, .common_paginator_wrapper>a {
	display: inline-block;
	margin: 0 3px;
	width: 30px;
	height: 30px;
	vertical-align: top;
}
.common_paginator_wrapper li a{
	width: 100%;
	height: 100%;
}
.common_paginator_wrapper .active a, .common_paginator_wrapper .active a:hover{
	background-color: #7ebd8a;
}
.common_paginator_wrapper li .ellipsis{
	display: inline-block;
	width: 100%;
	height: 100%;
	line-height: 20px;
	color: #ccc;
	font-size: 20px;
}
.common_paginator_wrapper a:hover{
	background-color: #999999;
	transition: all 0.3s;
}
.common_paginator_wrapper li a, .common_paginator_wrapper>a {
    display: inline-block;
    color: #fff;
    border-radius: 3px;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    border-radius: 3px;
    background-color: #cccccc;
}
