@charset 'UTF-8';

/*公共类*/

body
{
    font-family: Microsoft YaHei, Verdana, sans-serif, '宋体' !important;
}
p
{
    word-wrap: break-word;
}
input
{
    outline: none;
}
input:focus, textarea:focus
{
    transition: box-shadow .3s;

    border-color: #00a388 !important;
    box-shadow: 0 0 5px #00a388 !important;
}
button
{
    outline: none;
}

/*~~~~~~~~~~线性过渡色按钮~~~~~~~~~~*/

.transition_btn
{
    display: block;

    width: 100px;

    -webkit-transition: background-color .4s;
       -moz-transition: background-color .4s;
        -ms-transition: background-color .4s;
    text-align: center;
}
.transition_btn:hover
{
    -webkit-transition: background-color .4s;
       -moz-transition: background-color .4s;
        -ms-transition: background-color .4s;
}
.transition_btn:active
{
    -webkit-transition: background-color .1s;
       -moz-transition: background-color .1s;
        -ms-transition: background-color .1s;

    box-shadow: 0 0 16px #555 inset;
}




.main_container
{
    overflow: hidden;

    width: 100%;
    min-width: 1200px;
}
.halfwidth
{
    width: 50%!important;
}
.fullwidth
{
    width: 100%!important;
}
.cm_min_width
{
    min-width: 1200px;
}
.cm_fl
{
    float: left;
}
.cm_fr
{
    float: right;
}
.cm_cp
{
    cursor: pointer;
}
.clear, .clearfloat
{
    clear: both;
}
.hidden
{
    display: none;
}
.bg_f5f5f5
{
    background-color: #f5f5f5;
}
.disable
{
    cursor: not-allowed !important;
    pointer-events: none !important;

    opacity: .65;
    color: #999;
    border-color: #adadad;
    background-color: #e6e6e6;
    box-shadow: none;

    filter: alpha(opacity=65) !important;
}
/*.cm_header_shadow {
	position: absolute;
	z-index: 1;
	top: 140px;
	left: 0;
	width: 100%;
	height: 5px;
	background: url('../img/header_shadow_bg.png') repeat-x;
}*/
.common_btn
{
    padding: 5px 10px;

    color: #000;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: -ms-linear-gradient(top, #fff, #eee);
}
.common_btn:hover
{
    color: #00a388;
}
label.error, div.error
{
    font-size: 12px !important;

    margin-bottom: 9px;

    color: red!important;
}

/*common head*/

.yc_cm_header
{
    position: relative;
    z-index: 1;

    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;

    background-color: #fff;
    box-shadow: 0 2px 3px #ccc;
}
.yc_cm_header .shortcut_container
{
    font-size: 12px;
    line-height: 40px;

    position: relative;

    box-sizing: border-box;
    width: 100%;
    height: 40px;
    margin: 0;

    color: #ccc;
    background-color: #333;
}
.yc_cm_header .shortcut_container .shortcut
{
    position: relative;

    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
/*yc edit space*/
.yc_cm_header.edit_space
{
    z-index: 2;
}
.yc_cm_header.edit_space .shortcut_container .shortcut
{
    max-width: none;
}
.yc_cm_header .shortcut a
{
    font-size: 12px;

    position: relative;

    padding: 0 10px;

    color: #ccc;
}
.yc_cm_header .shortcut a:hover
{
    color: #f40;
}
.yc_cm_header .shortcut .quick_menu
{
    float: left;
}
.yc_cm_header.edit_space .shortcut .quick_menu
{
    float: right;
}
.yc_cm_header .shortcut .quick_menu li
{
    position: relative;

    float: left;
}
.yc_cm_header .shortcut .quick_menu li a > i
{
    font-size: 16px;
    font-style: normal;

    float: left;

    margin-right: -4px;

    color: #999;
}
.yc_cm_header .shortcut .quick_menu li a:hover > i
{
    color: #f40;
}
.yc_cm_header .shortcut .login_info
{
    float: right;

    margin-right: 17px;
}
.yc_cm_header .shortcut .login_info .welcome_info
{
    position: relative;
}
.yc_cm_header .shortcut .login_info .welcome_info:first-child::after,
.yc_cm_header .shortcut .quick_menu li:first-child a:before,
.edit_space .shortcut .quick_menu li:nth-child(2) a:before,
.edit_space .shortcut .nav_bar li a::after
{
    position: absolute;
    top: 3px;
    right: 0;

    width: 1px;
    height: 12px;

    content: ' ';

    background-color: #666;
}
.edit_space .shortcut .quick_menu li:nth-child(1) a:before
{
    display: none;
}
.yc_cm_header .shortcut .yc_logo
{
    position: relative;

    float: left;

    width: 80px;
    height: 38px;
    margin: -1px 10px 1px 0;
}
.yc_cm_header .shortcut .yc_logo img
{
    display: inline-block;

    width: 100%;

    vertical-align: middle;
}
.yc_cm_header .shortcut .nav_bar li
{
    float: left;
}
.quick_menu li .phone
{
    position: relative;

    margin-left: 25px;
}
.shortcut .yc_menu
{
    position: relative;

    margin: 0 25px;
}
.shortcut .yc_menu .menu_hd b
{
    padding-left: 5px;
}
.shortcut .yc_menu .menu_bd
{
    position: absolute;
    z-index: 99;
    top: 32px;

    display: none;

    border: 1px solid #dedddd;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 1px 1px 3px #c6c6c8;
}
.shortcut .yc_menu:hover .menu_bd
{
    display: block;

    animation: transTop .3s ease-in-out;
}
.shortcut .yc_menu .menu_bd::before
{
    position: absolute;
    top: -8px;
    right: 11px;

    width: 0;
    height: 0;

    content: ' ';

    border-right: 8px solid transparent;
    border-bottom: 8px solid #dedddd;
    border-left: 8px solid transparent;
}
.shortcut .yc_menu .menu_bd .menu_bd_panel::before
{
    position: absolute;
    top: -7px;
    right: 11px;

    width: 0;
    height: 0;

    content: ' ';

    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
}
.shortcut .yc_menu .menu_bd .menu_bd_panel
{
    width: 85px;
    padding: 6px 0;

    text-align: center;
}
.shortcut .yc_menu .menu_bd .menu_bd_panel a
{
    line-height: 30px;

    display: block;

    box-sizing: border-box;
    height: 32px;

    color: #333;
}
.shortcut .yc_menu .menu_bd_panel a .ybicon-turnoff
{
    font-size: 12px;
    font-style: normal;

    float: none;

    margin-right: 3px;
}
.shortcut .yc_menu .menu_bd .menu_bd_panel a:hover
{
    color: #00a388;
    border-top: 1px solid #dedddd;
    border-bottom: 1px solid #dedddd;
    background-color: #f2f2f2;
}
.yc_cm_header .main_nav
{
    position: relative;

    width: 100%;
}
.yc_cm_header .main_nav .header_con
{
    position: relative;

    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
    height: 80px;
    margin: 0 auto;
    padding: 0;
}
.main_nav .header_con .logo
{
    position: absolute;
    top: 22px;
    left: 15px;
}
.main_nav .header_con .logo img
{
    width: 110px;
    height: 40px;
}
.main_nav .header_con .hot_line
{
    position: absolute;
    top: 19px;
    right: 15px;

    width: 135px;

    text-align: center;
}
.header_con .hot_line span
{
    font-size: 12px;

    position: relative;

    display: block;

    color: #999;
}
.header_con .hot_line span::before,
.header_con .hot_line span::after
{
    position: absolute;
    top: 8px;

    width: 35px;
    height: 1px;

    content: ' ';

    background-color: #ccc;
}
.header_con .hot_line span::before
{
    left: 0;
}
.header_con .hot_line span::after
{
    right: 0;
}
.header_con .hot_line p
{
    font-size: 19px;
    line-height: 30px;

    color: #f40;
}
.yc_cm_header .main_nav .navigation
{
    position: relative;
    top: 29px;
    left: 0;

    text-align: center;
}
.yc_cm_header .main_nav .navigation ul li
{
    display: inline-block;

    margin-right: 65px;
}
.yc_cm_header .main_nav .navigation ul li:last-child
{
    margin-right: 0;
}
.yc_cm_header .main_nav .navigation ul li a
{
    font-size: 20px;

    display: block;

    padding: 0 5px;

    color: #333;
}
.yc_cm_header .main_nav .navigation ul li a:hover, .yc_cm_header .main_nav .navigation ul li a.active
{
    color: #f40;
}
.footer
{
    position: relative;

    overflow: hidden;

    box-sizing: border-box;
    width: 100%;
    padding: 0 10px;

    background: #333;
}
.footer .ft_link, .footer .ft_copyright
{
    font-size: 12px;
    line-height: 50px;

    overflow: hidden;

    box-sizing: border-box;
    margin: 0 auto;

    text-align: center;

    color: #666;
}
.footer .ft_link
{
    float: left;
}
.footer .ft_copyright
{
    float: right;
}
.footer .ft_link ul li
{
    display: inline-block;

    margin: 0 10px 0 0;
}
.footer .ft_link ul li a, .footer .ft_copyright a
{
    color: #999;
}
.footer .ft_link ul li a:hover, .footer .ft_copyright a:hover
{
    color: #00a388;
}
.footer .ft_link ul li a:hover, .footer .ft_copyright a:hover
{
    color: #00a388;
}
@media only screen and (max-width: 1200px)
{
    .footer .ft_link, .footer .ft_copyright
    {
        float: none;

        text-align: center;
    }
}
/*~~~~~~~~~~common_block_wrapper~~~~~~~~~~*/
.common_block_wrapper
{
    box-sizing: border-box;
    width: 1200px;
    margin: 0 auto 30px;

    border: 1px solid #ccc;
    background-color: #fff;
}
.common_ilustri_item
{
    width: 100%;
    margin: 0 auto;
    padding: 40px 0;

    text-align: center;
}
.common_ilustri_item img
{
    display: inline-block;
}
/*common ? tips*/

.ybcommon_queryicon_item
{
    position: relative;

    display: inline-block;

    width: 15px;
    height: 15px;

    cursor: pointer;
}
.ybcommon_queryicon_item span
{
    position: relative;

    display: block;

    margin: 0;

    color: #666;
}
.ybcommon_queryicon_item div
{
    font-size: 12px;
    line-height: 20px;

    position: absolute;
    z-index: 3;
    top: 22px;
    left: -100px;

    display: none;

    min-width: 190px;
    max-width: 300px;
    padding: 5px 10px;

    text-align: left;

    color: #000;
    border: 1px solid #efefef;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 2px 2px 10px #ccc;
}
.ybcommon_queryicon_item:hover div
{
    display: block;
}
.ybcommon_queryicon_item div:before, .ybcommon_queryicon_item div:after
{
    position: absolute;
    top: -8px;
    left: 101px;

    display: block;

    width: 0;
    height: 0;

    content: '';

    border-width: 0 6px 8px 6px;
    border-style: solid;
}
.ybcommon_queryicon_item div:before
{
    border-color: transparent transparent #000 transparent;
}
.ybcommon_queryicon_item div:after
{
    border-color: transparent transparent #fff transparent;
}
.ybcommon_queryicon_item .ybcommon_qimoredetail_btn
{
    display: block;

    width: 4em;
    margin: 10px auto 0;
    padding: 0 5px;

    color: #000;
    border: 1px solid #999;
}

/*common counter*/

.ybcommon_counter_item
{
    width: 87px;
    height: 25px;

    background-color: #f0f0f0;
}
.ybcommon_counter_item a
{
    font-size: 20px;
    font-weight: bold;
    line-height: 23px;

    float: left;

    width: 25px;
    height: 100%;
    margin: 0;

    text-align: center;

    color: #a9a9a9;
    border: 1px solid #aaa;
}
.ybcommon_counter_item a:hover
{
    color: #000;
}
.ybcommon_counter_item input[type=text]
{
    font-size: 15px;

    float: left;

    box-sizing: content-box;
    width: 33px;
    height: 100%;

    text-align: center;

    border-top: 1px solid #aaa;
    border-right: none;
    border-bottom: 1px solid #aaa;
    border-left: none;
}

/*common share*/

.common_sharelist_wrapper
{
    font-size: 13px;

    position: absolute;
    z-index: 1;

    display: none;

    box-sizing: border-box;
    width: 185px;
    min-height: 50px;
    padding: 10px 15px;

    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
}
.common_sharelist_wrapper::before
{
    position: absolute;
    z-index: 1;
    top: -9px;
    left: 50%;

    width: 0;
    height: 0;
    margin-left: -9px;

    content: ' ';

    border-right: 9px solid transparent;
    border-bottom: 9px solid #fff;
    border-left: 9px solid transparent;
}
.common_sharelist_wrapper::after
{
    position: absolute;
    z-index: 0;
    top: -10px;
    left: 50%;

    width: 0;
    height: 0;
    margin-left: -9px;

    content: ' ';

    border-right: 9px solid transparent;
    border-bottom: 9px solid #ddd;
    border-left: 9px solid transparent;
}
.common_sharelist_wrapper ul
{
    overflow: hidden;
}
.common_sharelist_wrapper ul li
{
    float: left;
    overflow: hidden;

    width: 30px;
    height: 30px;
    margin: 0 0 0 10px;
}
.common_sharelist_wrapper ul li:first-child
{
    margin: 0;
}
.common_sharelist_wrapper ul li a
{
    font-size: 25px;
    line-height: 30px;

    display: block;

    text-align: center;

    color: #abaebe;
    background-color: transparent!important;
}
.common_sharelist_wrapper ul li a:hover
{
    box-shadow: none;
}
.common_sharelist_wrapper .weibo a:hover, .common_sharelist_wrapper .weibo.active a
{
    color: #d8282a;
}
.common_sharelist_wrapper .qzone a:hover, .common_sharelist_wrapper .qzone.active a
{
    color: #ffd074;
}
.common_sharelist_wrapper .wechat a:hover, .common_sharelist_wrapper .wechat.active a
{
    color: #97e23f;
}
.common_sharelist_wrapper .renren a:hover, .common_sharelist_wrapper .renren.active a
{
    color: #217dc6;
}
.common_sharelist_wrapper .QQ a:hover, .common_sharelist_wrapper .QQ.active a
{
    color: #217dc6;
}
.common_serialnumber_item
{
    display: inline-block;

    vertical-align: middle;
}
.common_serialnumber_item li
{
    float: left;

    width: 87px;
}
.common_serialnumber_item li:first-child
{
    width: 67px;
}
.common_serialnumber_item li span
{
    line-height: 30px;

    display: inline-block;

    width: 1em;
    margin: 0 2px;

    text-align: center;
}
.common_serialnumber_item input
{
    float: right;

    box-sizing: border-box;
    width: 5em;
    height: 30px;
    padding: 0;

    text-align: center;

    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 5px #ddd inset;
}

/*common pagination*/

.pagination_wrap
{
    position: relative;

    clear: both;

    width: 100%;
    margin: 20px auto;

    text-align: center;
}

.pagination_wrap.small .turn_btn > a,
.pagination_wrap.small .turn_btn > span
{
    line-height: 20px;

    width: 20px;
    height: 20px;
    padding: 0;
}
.turn_btn > a, .turn_btn > span
{
    font-size: 12px;
    font-weight: bold;
    line-height: 30px;

    display: inline-block;

    height: 30px;
    margin: 0 3px;
    padding: 0 10px;

    text-align: center;

    color: #fff;
    border: 0;
    border-radius: 2px;
    background-color: #ccc;
}
.turn_btn > a
{
    border: 0;
}
.turn_btn > span
{
    cursor: default;
}
.turn_btn > span.current
{
    color: #fff;
    border: 0;
    background-color: #79bd8f;
}
.turn_btn > span.current.prev, .turn_btn > span.current.next
{
    display: none;
}
.turn_btn > span.prev, .turn_btn > span.next
{
    color: #fff;
    background-color: #ccc;
}
.turn_btn > a:hover
{
    color: #fff;
    background-color: #999;
}

/*common empty wrap*/

.pc_empty_item
{
    overflow: hidden;

    width: 220px;
    margin: 0 auto;
    padding: 20px 0;

    text-align: center;
}
.pc_empty_item .avatar_1
{
    display: block;

    width: 60px;
    height: 110px;
    margin: 0 auto;

    background: url(../img/icon/empty_avatar_1_00000.png);
    background-size: cover;
}
.pc_empty_item .resource
{
    display: block;

    width: 235px;
    height: 169px;
    margin: 0 auto;

    background: url('../img/icon/empty_resource.png');
}
.pc_empty_item .ybicon-box
{
    font-size: 85px;

    color: #a8a8a8;
}
.pc_empty_item label
{
    font-size: 14px;
    line-height: 2;

    display: block;

    width: 100%;

    text-align: center;

    color: #a8a8a8;
}

/*~~~~~~~~~~common_crumb_wrapper~~~~~~~~~~*/
.common_crumb_wrapper
{
    padding: 15px 0;
}
.common_crumb_wrapper ul
{
    font-family: 'microsoft yahei';

    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 0;

    border-bottom: 4px solid #79bd8f;
}
.common_crumb_wrapper li
{
    font-size: 0;

    display: inline-block;
}
.common_crumb_wrapper li a, .common_crumb_wrapper li label
{
    font-size: 17px;
}
.common_crumb_wrapper li a:hover
{
    color: #f40;
}

/*~~~~~~~~~~common_paginator_wrapper~~~~~~~~~~*/

.common_paginator_wrapper
{
    font-size: 0;

    width: 100%;
    margin: 30px 0;

    text-align: center;
}
.common_paginator_wrapper ul
{
    font-size: 0;

    display: inline-block;

    text-align: center;
}
.common_paginator_wrapper li, .common_paginator_wrapper > a
{
    display: inline-block;

    width: 30px;
    height: 30px;
    margin: 0 3px;

    vertical-align: top;
}
.common_paginator_wrapper li a
{
    width: 100%;
    height: 100%;
}
.common_paginator_wrapper .active a, .common_paginator_wrapper .active a:hover
{
    background-color: #7ebd8a;
}
.common_paginator_wrapper li .ellipsis
{
    font-size: 20px;
    line-height: 20px;

    display: inline-block;

    width: 100%;
    height: 100%;

    color: #ccc;
}
.common_paginator_wrapper a:hover
{
    transition: all .3s;

    background-color: #999;
}
.common_paginator_wrapper li a, .common_paginator_wrapper > a
{
    font-size: 16px;
    line-height: 30px;

    display: inline-block;

    text-align: center;

    color: #fff;
    border-radius: 3px;
    background-color: #ccc;
}

/*~~~~~~~~~~common_loadmore_wrapper~~~~~~~~~~*/

.common_loadmore_wrapper
{
    width: 100%;
}
.common_loadmore_item
{
    position: relative;
    top: 0;
    left: 0;

    display: block;

    width: 100px;
    margin: 10px auto;
    padding: 10px;

    transition: all .2s;

    color: #333;
}
.common_loadmore_item:hover
{
    color: #000;
}

/*.common_loadmore_item:active{
	box-shadow: 2px 2px 5px #ccc inset;
	position: relative;
	left: 2px;
	top: 2px;
	border-radius: 5px;
	background-color: #f5f5f5;
}*/

.common_loadmore_item span
{
    display: block;

    width: 50px;
    height: auto;
    margin: 0 auto;

    text-align: center;
}
.common_loadmore_item span img
{
    display: inline-block;

    width: 100%;

    opacity: .5;
}
.common_loadmore_item label
{
    display: block;

    margin: 0 auto;

    cursor: pointer;
    text-align: center;

    color: #aaa;
}

/*~~~~~~~~~~common_shtagging_wrapper~~~~~~~~~~*/

.common_shtagging_wrapper
{
    position: absolute;
    top: 0;
    bottom: 0;

    width: 100%;
    height: 100%;
}
.common_shtagging_wrapper li
{
    position: absolute;
}
.common_shtagging_wrapper li span
{
    display: block;

    background-color: #bbb;
}
.common_shtagging_wrapper .vertical
{
    position: relative;
    right: -15px;
    bottom: 0;

    width: 13px;
    height: 98%;

    text-align: right;

    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}
.common_shtagging_wrapper .vertical span
{
    line-height: 100%;

    position: absolute;
    left: 6px;

    width: 1px;
    height: 100%;
    margin: 0 auto;
}
.common_shtagging_wrapper .horizonal
{
    line-height: 30px;

    right: 0;
    bottom: -15px;

    width: 98%;
    height: 15px;

    text-align: center;

    border-right: 1px solid #bbb;
    border-left: 1px solid #bbb;
}
.common_shtagging_wrapper .horizonal span
{
    position: absolute;
    bottom: 6px;

    width: 100%;
    height: 1px;
}
.common_shtagging_wrapper p
{
    font-size: 12px;

    min-width: 35px;

    text-align: center;
}

/*~~~~~~~~~~common_check1_item~~~~~~~~~~*/

.common_check1_item
{
    position: relative;

    display: none;

    width: 50px;
    height: 50px;
}
.common_check1_item strong
{
    font-size: 50px;

    position: relative;
    z-index: 1;

    display: inline-block;

    width: 50px;
    height: 50px;

    color: #fff;
}
.common_check1_item i
{
    position: absolute;
    top: 10%;
    left: 10%;

    display: inline-block;

    width: 80%;
    height: 80%;

    border-radius: 50%;
    background-color: #f40;
}

/*~~~~~~~~~~common_eye_item~~~~~~~~~~*/

.common_eye_item
{
    font-size: 20px;

    color: #999;
}
.common_eye_item:hover
{
    color: #ff4204;
}

/*~~~~~~~~~~common_slider_wrapper~~~~~~~~~~*/

.common_slider_wrapper
{
    height: 20px;
}
.common_slider_wrapper .axis
{
    display: inline-block;

    width: 100%;
    height: 80%;
    margin: 3px 0;

    border: 1px solid #dbdad9;
    background-color: #fff;
}
.common_slider_wrapper .slider
{
    position: absolute;

    display: block;

    width: 20px;
    height: 20px;

    cursor: pointer;

    border: 1px solid #c6c6c6;
    border-radius: 3px;
    background-color: #f7f7f7;
}
.common_slider_wrapper .slider:hover
{
    background-color: #eee;
}
.common_slider_wrapper .slider:active
{
    background-color: #bbb;
}

/*~~~~~~~~~~common_login_wrapper~~~~~~~~~~*/

.common_loginbtn_item
{
    font-size: 16px;
    line-height: 45px;

    display: block;

    width: 90%;
    height: 45px;
    margin: 15px auto;

    text-align: center;

    color: #fff;
    background-color: #7bba38;
}
.common_loginbtn_item:hover
{
    background-color: #82c43b;
}
.common_loginbtn_item:active
{
    background-color: #689d2f;
}
.common_login_wrapper
{
    position: relative;
    z-index: 1;

    width: 550px;
    margin: 0 auto;

    border: 1px solid #ccc;
    border-radius: 6px;
    background: rgba(255, 255, 255, .9);
}
.common_loginheader_wrapper
{
    width: 100%;
}
.common_loginheader_wrapper div
{
    font-size: 0;

    width: 100%;
    height: 60px;
    margin: 0 auto;

    text-align: center;
}
.common_loginheader_wrapper div img
{
    display: inline-block;

    width: 55px;

    vertical-align: middle;
}
.common_loginheader_wrapper div span
{
    font-size: 60px;

    display: inline-block;

    width: 75px;
    height: 65px;

    vertical-align: middle;

    color: #aab93e;
    background-image: url(../img/main/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 85%;
}
.common_loginheader_wrapper div label
{
    font-size: 18px;

    display: inline-block;

    vertical-align: middle;
}
.common_loginheader_wrapper a
{
    font-size: 22px;
    font-weight: lighter;

    position: absolute;
    top: 10px;
    right: 15px;

    display: block;

    color: #ccc;
}
.common_loginheader_wrapper a:hover
{
    color: #000;
}
.common_logindividline_wrapper
{
    position: absolute;

    overflow: hidden;

    width: 100%;
}
.common_logindividline_wrapper span
{
    display: block;

    width: 60%;
    height: 2px;
    margin: 0 auto;

    background-color: #ededed;
	/*background: linear-gradient(left, #fff, #efefef, #efefef, #fff);
	background: -webkit-linear-gradient(left, #fff, #efefef, #efefef, #fff);
	background: -moz-linear-gradient(left, #fff, #efefef, #efefef, #fff);
	background: -ms-linear-gradient(left, #fff, #efefef, #efefef, #fff);*/
}
.common_logindividline_wrapper label
{
    position: relative;
    bottom: 110px;

    display: block;

    width: 100px;
    height: 100px;
    margin: 0 auto;

    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 150px #ccc;
}
.common_logininput_wrapper
{
    width: 90%;
    margin: 0 auto;
}
.common_logininput_wrapper li
{
    position: relative;

    width: 100%;
    height: 50px;
    margin: 30px 0 40px 0;

    text-align: center;
}
.access_reset_wrapper .common_logininput_wrapper li
{
    font-size: 0;

    height: 40px;
}
.common_logininput_wrapper p
{
    font-size: 14px;

    display: inline-block;

    vertical-align: middle;

    color: #333;
}
.common_logininput_wrapper .input_item
{
    font-size: 0;

    position: relative;

    display: inline-block;

    width: 100%;
    height: 100%;

    vertical-align: top;
}
.common_login_wrapper .common_login_wrapper li
{
    height: 75px;
}
.common_logininput_wrapper .input_item input
{
    font-family: 'microsoft yahei';
    font-size: 15px;

    display: inline-block;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0 0 0 5%;

    vertical-align: middle;

    border: 1px solid #999;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
}
.common_login_wrapper .common_logininput_wrapper .input_item input
{
    height: 50px;
    padding: 0 0 0 50px;
}
.access_resetform_wrapper .common_logininput_wrapper .input_item
{
    position: relative;

    width: 80%;

    vertical-align: middle;
}

.common_logininput_wrapper li input::-webkit-input-placeholder
{
    color: #bbb;
}
.common_logininput_wrapper li input::-moz-input-placeholder
{
    color: #bbb;
}
.common_logininput_wrapper li input::-ms-input-placeholder
{
    color: #bbb;
}
.common_logininput_wrapper span
{
    font-size: 26px;
    line-height: 50px;

    position: absolute;
    top: 0;
    left: 0;

    display: inline-block;

    width: 55px;
    height: 100%;

    text-align: center;
    vertical-align: middle;

    color: #aaa;
}
.common_logininput_wrapper .error
{
    display: block;

    text-align: left;
}
.common_logininput_wrapper .getcode_btn
{
    font-size: 15px;
    line-height: 38px;

    position: absolute;
    top: 1px;
    right: 1px;

    display: inline-block;

    width: 100px;
    height: 36px;

    vertical-align: middle;

    color: #939393;
    border: 1px solid #ececec;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #eee;
}
.common_logininput_wrapper .getcode_btn:active
{
    box-shadow: -2px 2px 3px #ccc inset;
}
.common_loginbtn_item
{
    font-size: 16px;
    line-height: 45px;

    display: block;

    width: 90%;
    height: 45px;
    margin: 15px auto;

    text-align: center;

    color: #fff;
    background-color: #00a388;
}
.common_loginbtn_item:hover
{
    background-color: #187963;
}
.common_loginbtn_item:active
{
    background-color: #146250;
}
.common_loginproviso_item
{
    font-size: 12px;

    position: relative;
    z-index: 1;

    width: 90%;
    padding: 5px 5%;

    text-align: right;

    border-radius: 6px;
}
.common_loginproviso_item a
{
    color: #00a388;
}
.common_loginproviso_item a:hover
{
    text-decoration: underline;
}
.common_login_container
{
    display: none;
}
.common_login_container.active
{
    position: fixed;
    z-index: 4;
    top: 0;

    display: block;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .5);
}


.common_logincheckbox_wrapper
{
    overflow: hidden;

    width: 90%;
    margin: 0 auto;
}

.common_logincheckbox_wrapper ul
{
    float: left;
}

.common_logincheckbox_wrapper li
{
    font-size: 13px;

    float: left;

    margin: 0 15px 0 0;

    color: #777;
}

.common_logincheckbox_wrapper a
{
    font-size: 13px;

    float: right;

    color: #00a388;
}

.common_logincheckbox_wrapper a:hover
{
    text-decoration: underline;
}

.common_logincheckbox_wrapper label
{
    display: inline-block;

    margin: 0 5px;

    vertical-align: middle;
}

.common_triplelap_container
{
    position: absolute;
    bottom: -11px;

    overflow: hidden;

    width: 100%;
    height: 10px;
}
.common_triplelap_container label
{
    position: relative;
    z-index: 1;
	/*    height: 19px;*/
	/*    background-color: #fff;*/
	/*    border: 1px solid #fff;*/
    top: 0;

    display: block;

    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
}
.common_triplelap_wrapper, .common_triplelap_wrapper span
{
    position: relative;

    display: block;

    border-radius: 6px;
}
.common_triplelap_wrapper
{
    position: relative;
    z-index: 0;
    bottom: 10px;

    width: 100%;
    height: 10px;
    margin: 0 auto;
}
.common_triplelap_wrapper span
{
    position: relative;

    display: block;

    box-sizing: border-box;
    height: 15px;
    margin: 0 auto;

    border: 1px solid #ccc;
    background-color: #e7e7e6;
}
.common_triplelap_wrapper .first
{
    z-index: 3;
    bottom: 0;

    width: 97%;
}
.common_triplelap_wrapper .second
{
    z-index: 2;
    bottom: 10px;

    width: 94%;
}
.common_triplelap_wrapper .third
{
    z-index: 1;
    bottom: 23px;

    width: 94%;
}

.common_gradienttitle_wrapper
{
    height: 40px;

    border-bottom: 1px solid #ccc;
    background: -webkit-linear-gradient(top, #fff 0, #f2f2f2 100%);
/*	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;*/
}
.common_gradienttitle_wrapper h6
{
    font-size: 17px;
    line-height: 40px;

    padding: 0 0 0 20px;

    color: #666;
}

.swiper-container-vertical > .swiper-pagination .swiper-pagination-bullet
{
    display: block;

    margin: 15px 0;
}

.swiper-container-vertical .swiper-pagination-bullet
{
    position: relative;

    width: 12px;
    height: 12px;

    opacity: 1;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.7);
}

.swiper-container-vertical .swiper-pagination-bullet-active::before
{
    position: absolute;
    top: 2px;
    left: 2px;

    width: 8px;
    height: 8px;

    content: ' ';

    border-radius: 100%;
    background-color: #ccc;
}
/*~~~~~~~~~~common_bppopup_wrapper~~~~~~~~~~*/
.common_bppopup_wrapper
{
    position: fixed;
    z-index: 1;
    top: 0;

    display: block;
    visibility: hidden;
    overflow: hidden;

    width: 100%;
    height: 100%;

    transition: all 1s;
}
.common_bppopup_wrapper.active
{
    transition: all 1s;

    background-color: rgba(255,255,255,.7);
}
.common_bppopup_wrapper .closebtn
{
    font-size: 20px;

    position: absolute;
    top: 15px;
    right: 15px;

    color: #fff;
}
.common_bppopup_wrapper .closebtn:hover
{
    color: #aaa;
}
.common_bppopup_wrapper .flipbook_wrapper
{
    visibility: hidden;

    /*margin-left: 0;
    margin-top: 0;*/
    /*margin: 0 auto;*/
    width: 800px;
    height: 577px;

    opacity: 1;
    /*transition: all 1s;*/
    /*transform: scale(0.415,0.415);
*/
}
.common_bppopup_wrapper .flipbook_wrapper.active
{
    opacity: 1;
    /*transform: scale(1,1);
    transition: all 1s;*/
}
.common_bppopup_wrapper .flipbook_wrapper > a
{
    opacity: 0;
}

.common_bppopup_wrapper .page > div
{
    -ms-transform: scale(.58);
        transform: scale(.58);
    -ms-transform-origin: top left;
        transform-origin: top left;
    /*-ms-zoom: .58!important;*/
}

.common_bppopup_wrapper .hard > div
{
    -ms-transform: scale(.6);
        transform: scale(.6);
    -ms-transform-origin: top left;
        transform-origin: top left;
    /*-ms-zoom: .6!important;*/
}

.common_bppopup_wrapper .secondcover > div, .common_bppopup_wrapper .thirdcover > div
{
    top: 8px;

    -ms-transform: scale(.58);
        transform: scale(.58);
    /*-ms-zoom: .58!important;*/
}

.common_bppopup_wrapper .secondcover > div
{
    -ms-transform-origin: top right;
        transform-origin: top right;
}

.common_bppopup_wrapper .thirdcover > div
{
    -ms-transform-origin: top left;
        transform-origin: top left;
}
