@charset "UTF-8";
.makebook_choosespec_wrapper {
	width: 100%;
}
.makebook_process_wrapper {
	width: 100%;
	height: 140px;
	background: url(../img/makebook/makebook_preocess_bg.jpg);
	border-top: 1px solid #ddd;
}
.makebook_process_wrapper ul {
	margin: 0 auto;
	width: 1200px;
	text-align: center;
}
.makebook_process_wrapper li {
	display: inline-block;
	margin: 40px 0 0 0;
	height: 70px;
	vertical-align: top;
}
.makebook_process_wrapper .icon {
	display: inline-block;
	width: 60px;
	height: 60px;
	line-height: 60px;
	font-size: 55px;
	color: #cccccc;
	vertical-align: top;
}
.makebook_process_wrapper .active .icon{
	color: #74bd93;
}
.makebook_process_wrapper .title {
	display: inline-block;
}
.makebook_process_wrapper li.active .title label {
	color: #74bd93;
	font-size: 19px;
}
.makebook_process_wrapper .title label {
	display: block;
	height: 25px;
	line-height: 25px;
	text-align: center;
	color: #999;
}
.makebook_process_wrapper .title div {
	width: 150px;
	height: 20px;
	font-size: 0;
}
.makebook_process_wrapper .title div:before {
	content: '';
	display: inline-block;
	height: 20px;
	vertical-align: middle;
}
.makebook_process_wrapper .title div i {
	display: inline-block;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background-color: #ccc;
	vertical-align: middle;
}
.makebook_process_wrapper .active .title div i {
	background-color: #74bd93;
}
.makebook_process_wrapper .title div span {
	display: inline-block;
	width: 88%;
	height: 3px;
	background-color: #ccc;
	vertical-align: middle;
}
.makebook_process_wrapper .active .title div span{
	background-color: #74bd93;
	position: relative;
	right: 7px;
}
.makebook_process_wrapper .title p {
	width: 100%;
	text-align: center;
	color: #999;
	font-size: 13px;
}
.makebook_cssummary_container {
	width: 100%;
	height: 85px;
	border-top: 1px solid #cfcfcf;
}
.makebook_cssummary_wrapper {
	margin: 0 auto;
	width: 1200px;
}
.makebook_cssummary_wrapper .summary {
	float: left;
	margin: 35px 0 0 0;
}
.makebook_cssummary_wrapper .summary p, .makebook_cssummary_wrapper .summary ul {
	display: inline-block;
}
.makebook_cssummary_wrapper .summary li {
	display: inline-block;
	color: #ff4404;
}
.makebook_cssummary_wrapper .step_btn {
	float: right;
	margin: 20px 0 0 0;
	width: 180px;
	height: 50px;
	background-color: #ff4500;
	border-radius: 3px;
	text-align: center;
	line-height: 50px;
	color: #fff;
	font-size: 20px;
	transition: background-color 0.3s;
}
.makebook_cssummary_wrapper .step_btn:hover {
	background-color: #CF3800;
}
.makebook_cssummary_wrapper .step_btn.disabled {
	background-color: #999999;
}
.makebook_cstitle_wrapper {
	position: relative;
}
.makebook_cstitle_wrapper h6 {
	padding: 0 0 0 15px;
	font-size: 20px;
	color: #999;
}
.makebook_csblock_wrapper {
	margin: 0 auto;
	padding: 50px 0 30px 0;
	width: 1200px;
	position: relative;
}
.makebook_csblock_wrapper .line {
	position: absolute;
	left: -20px;
	font-size: 0;
	height: 100%;
}
.makebook_csblock_wrapper .line span {
	display: block;
	margin: 8px 0 0 0;
	width: 12px;
	height: 12px;
	background-color: #74bd93;
	border-radius: 50%;
	vertical-align: middle;
}
.makebook_csblock_wrapper .line label {
	display: block;
	margin: 0 auto;
	width: 3px;
	height: 100%;
	background-color: #cbcbcb;
}

.makebook_cschoosesize_wrapper>li {
	display: inline-block;
	margin: 20px 100px 0 60px;
	vertical-align: top;
}
.makebook_cschoosesize_wrapper>li>a {
	display: inline-block;
	width: 108px;
	height: 135px;
	border: #e0e0e0;
	position: relative;
	vertical-align: middle;
}
.makebook_cschoosesize_wrapper li .desc {
	display: inline-block;
	margin: 0 0 0 15px;
	vertical-align: top;
}
.makebook_cschoosesize_wrapper li .desc h6 {
	margin: 5px 0;
}
.makebook_cschoosesize_wrapper li .desc label {
	color: #666;
	font-size: 14px;
}
.makebook_cschoosesize_wrapper li .desc a {
	display: block;
	margin: 10px 0 0 0;
	color: #aaa;
	font-size: 20px;
}
.makebook_cschoosesize_wrapper li .desc a:hover{
	color: #ff4500;
}
.makebook_cschoosesize_wrapper li .sample {
	border: #e0e0e0;
	background-color: #eeeeee;
	position: relative;
	text-align: center;
}
.makebook_cschoosesize_wrapper li .sample>span{
	display: inline-block;
	width: 50px;
	height: 50px;
	font-size: 20px;
	vertical-align: middle;
}
.makebook_cschoosesize_wrapper .a4 .sample {
	width: 108px;
	height: 135px;
}
.makebook_cschoosesize_wrapper .b5 .sample {
	width: 108px;
	height: 108px;
}
.makebook_cschoosesize_wrapper .c3 .sample {
	width: 80px;
	height: 135px;
}
.makebook_cschoosesize_wrapper .a4 .sample>span {
	margin: 40px 0 0 0;
}
.makebook_cschoosesize_wrapper .b5 .sample>span {
	margin: 30px 0 0 0;
}
.makebook_cschoosesize_wrapper .c3 .sample>span {
	margin: 40px 0 0 0;
}
.makebook_cstab_wrapper {
	display: inline-block;
	margin: 0 0 0 130px;
	font-size: 0;
	position: absolute;
	top: 30px;
}
.makebook_cstab_wrapper li {
	display: inline-block;
	border-top: 1px solid #ddd;
}
.makebook_cschoosebinding_wrapper .makebook_cstab_wrapper li a{
	width: 155px;
}
.makebook_cstab_wrapper li a {
	font-size: 19px;
	line-height: 55px;
	display: block;
	width: 102px;
	text-align: center;
	border-top: 1px solid transparent;
	border-right: 1px solid #ddd;
}
.makebook_cstab_wrapper li.active{
	background-color: #fff;
}
.makebook_cstab_wrapper li.active a{
	border-top: 3px solid #77bc8d;
	background-color: #fff;
	border-radius: 3px;
}
.makebook_cstab_wrapper li:first-child a {
	border-left: 1px solid #ddd;
}

.makebook_cstab_wrapper li a:hover {
	color: #80c132;
}
.makebook_cschoosesize_wrapper .common_shtagging_wrapper .vertical {
	left: -15px;
}
.makebook_cschoosesize_wrapper .common_shtagging_wrapper .vertical p {
	position: relative;
	right: 25px;
}
.makebook_cssamplelist_wrapper{
	margin: 12px 0 0 0;
	width: 100%;
	border-top: 1px solid #dfdfdf;
}
.makebook_cssamplelist_wrapper ul{
	display: none;
	width: 100%;
}
.makebook_cssamplelist_wrapper ul.active{
	display: block;
}
.makebook_cssamplelist_wrapper li{
	display: inline-block;
	margin: 30px 12px 0 12px;
	width: 170px;
	border: 1px solid #ccc;
	box-shadow: 5px 5px 0 #e6e6e6;
}
.makebook_cssamplelist_wrapper a{
	display: block;
	width: 150px;
	height: 150px;
	margin: 10px auto;
	
	border: 0;
}
.makebook_cssamplelist_wrapper li img{
	display: block;
	width: 100%;
	height: 100%;
	border: 0;
}
.makebook_cssamplelist_wrapper li .title{
	overflow: hidden;
	margin: 10px 0;
}
.makebook_cssamplelist_wrapper li .title label{
	float: left;
	padding: 0 0 0 10px;
	text-align: left;
}
.makebook_cssamplelist_wrapper li .title span{
	float: right;

}