@charset 'UTF-8';
/*~~~~~~~~~~static_aboutus.html~~~~~~~~~~*/
.static_main_wrapper
{
    width: 1200px;
    padding: 15px 0;
    margin: 0 auto;
}

.static_paragraph_item
{
    width: 1000px;
    margin: 0 auto;
}
.static_paragraph_item p
{
    margin: 15px 0;
    font-size: 14px;
    text-indent: 28px;
}
/*~~~~~~~~~~static_customprocess.html~~~~~~~~~~*/
.static_customprocess_wrapper
{
    position: relative;
    width: 1200px;
    margin: 3px auto 0;
    overflow: hidden;
    background-color: #f5f5f5;
}
.static_customprocess_wrapper .axis
{
    position: absolute;
    left: 47px;
    width: 5px;
    height: 100%;
    background-color: #ccc;
}
.static_customprocess_wrapper  .swiper-pagination
{
    position: fixed;
}
.static_cpstep_wrapper
{
    height: auto;
    max-height: 100%;
    overflow: hidden;
}
.static_stepblock_wrapper
{
    width: 1200px;
    height: 100%;
    min-height: 100px;
    padding: 15px 0;
    margin: 0 auto;
}
.static_stepblock_wrapper .content .motiongraph
{
    width: 1000px;
    height: 580px;
}
.static_stepblock_wrapper .title .icon
{
    display: inline-block;
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    background-color: rgba(126, 189, 138, .5);
    border-radius: 50%;
}
.static_stepblock_wrapper .title .icon span
{
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 10px;
    background-color: #7ebd8a;
    border-radius: 50%;
}
.static_stepblock_wrapper .title .centent
{
    display: inline-block;
    margin: 0 0 0 30px;
    vertical-align: middle;
}
.static_stepblock_wrapper .title .centent h6
{
    margin: 10px 0;
}
.static_stepblock_wrapper .title .centent p
{
    margin: 10px 0;
    font-size: 13px;
    color: #999;
}
.static_stepblock_wrapper .motiongraph
{
    display: block;
    width: 1015px;
    height: 100%;
    min-height: 100px;
    margin: 0 0 0 130px;
	/*background-color: #fff;*/
    text-align: center;
}
.static_stepblock_wrapper .motiongraph img
{
    display: inline-block;
    height: 100%;
}
.static_stepblock_wrapper .icon span
{
    background-image: url(../img/icon/sprite_customprocess_00000.png);
    background-repeat: no-repeat;
}
.static_stepblock_wrapper .icon .step_1
{
    background-position: 2px 5px;
}
.static_stepblock_wrapper .icon .step_2
{
    background-position: -68px 5px;
}
.static_stepblock_wrapper .icon .step_3
{
    background-position: -137px 5px;
}
.static_stepblock_wrapper .icon .step_4
{
    background-position: -208px 5px;
}
.static_stepblock_wrapper .icon .step_5
{
    background-position: -280px 5px;
}
.static_stepblock_wrapper .icon .step_6
{
    background-position: -353px 5px;
}
.static_cpstep_wrapper .begintocustomize
{
    float: right;
    width: 200px;
    height: 55px;
    margin: 30px 40px 0 0;
    font-size: 18px;
    line-height: 55px;
    color: #fff;
    text-align: center;
    background-color: #24a386;
    border-radius: 8px;
    transition: background-color .3s;
}
.static_cpstep_wrapper .begintocustomize:hover
{
    background-color: #187963;
}
